.card
	margin-bottom 2rem

.card-footer-item i
	margin-right 0.6em
	font-size 1.2em

.title.card-title
	font-size 1.7rem
	
.divider
	border-bottom 1px solid #eee
	height 0.8rem
	margin-bottom 0.8rem
	&.hidden
		border 0

.navbar-brand
	font-weight bold