template(name="visualization")
	h1.title Visualization
	article.message.is-info
		.message-header Note to Ari about Data Visualization (from Devin)
		.message-body
			p The below visualization is a simple d3.js example of a force layout (<a href="https://bl.ocks.org/mbostock/3750558">source code here</a>). Here's a <a href="http://visualdataweb.de/webvowl/#">more complex visualization example</a> with d3.js that seems like it incorporates a lot of what you were talking about implementing visually, based on your Illustrator rendering. Complex but inspiring!
	#visualization
